.big-beer {
  margin-top: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.big-beer h1 {
  margin-top: 150px;
  font-size: 50px; }

.big-beer p {
  width: 700px;
  text-align: justify; }

.big-beer-logo {
  width: 400px; }

.big-beer-icon {
  width: 300px;
  margin-left: 50px;
  margin-bottom: 50px; }

.big-beer h3, .big-beer h2 {
  margin-bottom: 10px; }

.big-beer a {
  color: black; }
