.beer-card, .favorite-card {
  width: 300px;
  height: 510px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 15px 15px 15px 15px;
  background-color: #2C4154;
  color: white;
  letter-spacing: 1px; }

.beer-card a, .favorite-card a {
  color: white; }

.beer-card h2, .favorite-card h2 {
  margin-top: 20px;
  margin-bottom: 10px; }

.beer-logo {
  width: 300px;
  height: 250px;
  margin: 0;
  filter: opacity(0.7); }

.beer-icon {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 20px; }

.favorite-card {
  border: 3px solid #FF644E; }

.style, .abv {
  margin-bottom: 10px; }

.view-beer {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 15px; }

.bottom-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px; }

.favorite {
  cursor: pointer; }
