.brewery {
  margin-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.brewery h1 {
  margin-bottom: 40px;
  font-size: 50px; }

.brewery-page-logo {
  margin-bottom: 20px; }

.brewery p {
  width: 700px;
  text-align: center;
  margin-bottom: 50px; }

.brewery-beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white; }

.location-box {
  margin-bottom: 20px; }
