.feature-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.feature-brewery, .feature-beer {
  width: 100%;
  background-color: white;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-brewery {
  border-top: 3px solid #FF644E;
  border-bottom: 3px solid black;
}

.brewery-logo-2{
  filter: opacity(.9);
}

.feature-brewery-logo {
  filter: opacity(.9);
}

.feature-brewery p, .feature-beer p {
  padding: 20px 50px 20px 50px;
  width: 750px;
}

.brewery-logo {
  // border-top: 2px solid black;
  // border-bottom: 2px solid black;
}

.feature-brewery a, .feature-beer a {
  color: black;
}

.feature-location {
  margin-top: 20px;
}

.feature-beer p {
  margin-top: 0;
  line-height: 140%;
}

.feature-brewery p {
  line-height: 140%;
}
