.header {
  // background-color: $primary-color;
  background: #2C4154;
  width: 100%;
  height: 10vh;
  min-height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: #FF644E;
  position: fixed;
  border-bottom: 3px solid #FF644E;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  z-index: 1;
}

.header img {
  height: 50px;
  width: 50px;
}

.header h3 {
  cursor: pointer;
}

.header a {
  color: white;
}

.header h1 {
  text-align: center;
}

.header-buttons {
  position: absolute;
  right: 0px;
  display: flex;
}

.header-buttons h3{
  font-style: normal;
  font-weight: 500;
  margin-right: 20px;
  padding: 0;
  text-align: right;
}

.logged-in-buttons {
  font-style: normal;
  font-weight: 500;
  position: absolute;
  right: 10px;
  bottom: 50px;
}

.logged-in-buttons h5 {
  font-size: 12px;
  font-weight: 400;
}

.logout {
  font-size: 16px;
  font-weight: 400;
}

.logged-in-buttons .fav-button{
  position: absolute;
  top: 50px;
  right: 20px;
}

@media screen and (max-width: 1160px) {
  .header {
    justify-content: start;
  }

  .header h1 {
    margin-left: 40px;
  }
}
