@import './App.scss';
@import './Header.scss';
@import './SearchResults.scss';
@import './BeerCard.scss';
@import './Randoms.scss';
@import './Landing.scss';
@import './Brewery.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
