.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

.header {
  background: #2C4154;
  width: 100%;
  height: 10vh;
  min-height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: #FF644E;
  position: fixed;
  border-bottom: 3px solid #FF644E;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  z-index: 1; }

.header img {
  height: 50px;
  width: 50px; }

.header h3 {
  cursor: pointer; }

.header a {
  color: white; }

.header h1 {
  text-align: center; }

.header-buttons {
  position: absolute;
  right: 0px;
  display: flex; }

.header-buttons h3 {
  font-style: normal;
  font-weight: 500;
  margin-right: 20px;
  padding: 0;
  text-align: right; }

.logged-in-buttons {
  font-style: normal;
  font-weight: 500;
  position: absolute;
  right: 10px;
  bottom: 50px; }

.logged-in-buttons h5 {
  font-size: 12px;
  font-weight: 400; }

.logout {
  font-size: 16px;
  font-weight: 400; }

.logged-in-buttons .fav-button {
  position: absolute;
  top: 50px;
  right: 20px; }

@media screen and (max-width: 1160px) {
  .header {
    justify-content: start; }
  .header h1 {
    margin-left: 40px; } }

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

.search-container {
  display: flex; }

.search-container button {
  margin: 20px 0px 10px 0px;
  background-color: #2C4154;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #41403D;
  padding: .75rem 1rem;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out; }

.search-container button:hover {
  background-color: #FF644E;
  border: 2px solid #2C4154; }

.search-container input:focus {
  outline: 2px solid #FF644E; }

.search-container input {
  height: 42px;
  margin-top: 20px;
  border-radius: .25rem;
  font-size: 16px;
  border: 2px solid #41403D;
  padding-left: 5px; }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%; }

.beer-card, .favorite-card {
  width: 300px;
  height: 510px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 15px 15px 15px 15px;
  background-color: #2C4154;
  color: white;
  letter-spacing: 1px; }

.beer-card a, .favorite-card a {
  color: white; }

.beer-card h2, .favorite-card h2 {
  margin-top: 20px;
  margin-bottom: 10px; }

.beer-logo, .brewery-logo {
  width: 300px;
  height: 250px;
  margin: 0;
  filter: opacity(0.7); }

.brewery-logo {
  height: 220px;
  margin-top: 20px;
  margin-bottom: 10px; }

.beer-icon, .brewery-icon {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 20px; }

.brewery-icon {
  width: 150px; }

.favorite-card {
  border: 3px solid #FF644E; }

.style, .abv {
  margin-bottom: 10px; }

.view-beer {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 15px; }

.bottom-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px; }

.favorite {
  cursor: pointer; }

.website {
  font-size: 12px;
  margin-bottom: 20px;
  color: white; }

.type {
  margin-top: 10px; }

.feature-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; }

.feature-brewery, .feature-beer {
  width: 800px;
  background-color: white;
  height: 600px;
  overflow: hidden; }

.brewery-logo-2 {
  filter: opacity(0.9); }

.feature-brewery p, .feature-beer p {
  padding: 20px 50px 20px 50px; }

.feature-brewery a {
  color: black; }

.feature-location {
  margin-top: 20px; }

.feature-beer p {
  margin-top: 0; }

.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.search-area {
  height: 82vh;
  width: 100vw;
  background: linear-gradient(90deg, rgba(49, 61, 65, 0.6), rgba(49, 61, 65, 0.6)), url("../assets/landing-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.arrow-down {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 90vh;
  z-index: 0; }

.brewery {
  margin-top: 60px; }

.brewery-beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.big-beer {
  margin-top: 200px; }

.login {
  margin-top: 120px; }

.login {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: #27394A;
  height: 340px;
  width: 400px;
  border-radius: 5px;
  padding: 30px;
  margin: 40px 0 0;
  box-shadow: 5px 10px 10px #bdbdbd; }

.login h2 {
  text-align: center;
  color: white; }

.login input {
  margin-top: 30px; }

.password-input,
.email-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 20px;
  font-weight: lighter;
  margin: 20px 0;
  color: white; }

.password-input:focus,
.email-input:focus {
  outline: none;
  border-bottom: 2px solid #D23321; }

.login-btn {
  background-color: #FF644E;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  margin: 20px 0;
  width: 100%;
  cursor: pointer; }

.form-button:hover {
  background-color: #aa2f1e; }

.form-button:disabled {
  background-color: #bdbdbd; }

.error {
  margin-top: 10px;
  color: darkgray; }

.login a {
  color: white; }

@media screen and (max-width: 550px) {
  .login {
    width: 300px; } }

.create-account {
  margin-top: 120px; }

.favorites {
  margin-top: 120px; }

footer {
  height: 120px;
  background-color: #41403D;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8E8E8; }
  body a {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  margin-top: 30px;
  margin-bottom: 20px; }
