.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

.header {
  background: #4A4945;
  width: 100%;
  height: 10vh;
  min-height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: white;
  position: fixed;
  border-bottom: 3px solid white;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 900; }

.header img {
  height: 50px;
  width: 50px; }

.header a {
  color: white; }

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%; }

.beer-card {
  width: 200px;
  height: 300px;
  border: 2px solid black; }

.feature-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.feature-brewery {
  width: 700px;
  background-color: #eb9122;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  border: 2px solid black;
  height: 500px;
  overflow: hidden; }

.feature-brewery p {
  padding: 0 20px 20px 20px;
  height: 70px;
  overflow: hidden; }

.brewery-logo {
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.search-area {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, rgba(49, 61, 65, 0.6), rgba(49, 61, 65, 0.6)), url("../assets/landing-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.brewery-beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
  body a {
    text-decoration: none; }
