.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-area {
  height: 82vh;
  width: 100%;
  background:     linear-gradient( 90deg,
      rgba(49, 61, 65, 0.6),
      rgba(49, 61, 65, 0.6)
    ), url("../assets/landing-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 90vh;
  z-index: 0;
}
