.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

.search-container {
  display: flex; }

.search-container button {
  margin: 20px 0px 10px 0px;
  background-color: #2C4154;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #41403D;
  padding: .75rem 1rem;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out; }

.search-container button:hover {
  background-color: #FF644E;
  border: 2px solid #2C4154; }

.search-container input:focus {
  outline: 2px solid #FF644E; }

.search-container input {
  height: 42px;
  margin-top: 20px;
  border-radius: .25rem;
  font-size: 16px;
  border: 2px solid #41403D;
  padding-left: 5px; }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%; }
